.block {
  width: 3px;
  background-color: cyan;
  /* background-color: green; */
  margin: 0%;
}

.block-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin: 0%;
  height: calc(82vh - 5px);
  width: calc(94rem + 10px);
}

main {
  background-color: #121212;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;

}



.selectedAlgo {
  grid-row-start: 6;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2.5px;
  font-size: larger;
  font-weight: bold;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-slider {
  width: 300px;
}

.secondRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.actionBtn>span {
  margin: 20px;

}

.algoLink>a {
  margin: 20px;
}

.info {
  background-color: #121212;
  color: white;
  position: absolute;
  left: 100px;
  top: 150px;
}