<!-- <button (click)="sortArray()">Sort</button>
<div class="block-container">
  <div *ngFor="let k of numberArray;let i = index" [ngStyle]="{height: getHeightofDiv(k)}" class="block">
  </div>
</div> -->

<!-- <app-quick-sort></app-quick-sort> -->
<!-- <app-merge-sort></app-merge-sort> -->
<!-- <app-insertion-sort></app-insertion-sort> -->
<app-selection-sort></app-selection-sort>

<!-- <div class="block-container">
  <div [ngStyle]="{height: getHeightofDiv(0)}" class=" block"></div>
  <div [ngStyle]="{height: getHeightofDiv(1)}" class=" block"></div>
  <div [ngStyle]="{height: getHeightofDiv(2)}" class=" block"></div>
  <div [ngStyle]="{height: getHeightofDiv(3)}" class=" block"></div>
  <div [ngStyle]="{height: getHeightofDiv(4)}" class=" block"></div>
</div> -->
