.block {
    width: 3px;
    background-color: cyan;
    margin: 0%;
}

.block-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin: 0%;
    height: calc(100vh - 20px);
}