<mat-toolbar>
  <mat-toolbar-row class="toolbar" [class.mat-elevation-z6]="true">
    <span id="heading">Sorting Visualizer</span>
  </mat-toolbar-row>

  <mat-toolbar-row class="secondRow">
    <div class="actionBtn">
      <span>
        <button mat-raised-button color="accent" (click)="sortArray()" [disabled]="btnDisabled">Sort</button>
      </span>

      <span>
        <button mat-raised-button color="accent" (click)="shuffle()" [disabled]="btnDisabled">Shuffle</button>
      </span>
    </div>

    <div class="algoLink">
      <a mat-stroked-button color="accent" routerLink="/quick-sort">Quick Sort</a>
      <a mat-stroked-button color="accent" routerLink="/bubble-sort">Bubble Sort</a>

      <a mat-stroked-button color="accent" routerLink="/insertion-sort">Insertion Sort</a>
      <a mat-stroked-button color="accent" routerLink="/selection-sort">Selection Sort</a>

    </div>

  </mat-toolbar-row>
</mat-toolbar>
<div class="info">
  <p>Best case Time Complexity: </p>
  <p>O(n log(n))</p>
  <p>Worst Case Time Complexity: </p>
  <p>O(n log(n))</p>
</div>
<div class="container">
  <main>
    <div class="block-container">
      <div *ngFor="let k of numberArray;let i = index" [ngStyle]="{'background-color': i >= lowIndex && i < midIndex ? 'yellow' :'cyan', 'background-color' : i <
          highIndex && i> pivotIndex+1 ? 'purple' :'cyan', height: getHeightofDiv(k), 'background-color': i === midIndex
          ? 'red' :'cyan'}" class="block">
        <!-- {{i}} -->
      </div>
    </div>
  </main>
</div>
